<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% seo %}
    <!-- Le styles -->
    {{ 'main.css' | stylesheet_tag }}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar transparent navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/home">
                <strong>DR. MARIE MIKA, PhD</strong>
              </a>
            <div class="nav-collapse collapse">
              <ul class="nav pull-right">
              {% nav site, no_wrapper: true, active_class: 'active', class: 'nav pull-right' %}
              </ul>
            </div>
        </div>
      </div>
    </div>
    {% block 'main' %}
    {% endblock %}
    <!-- starts footer -->
    <footer id="footer">
        <div class="container">
            <div class="row sections">
                <div class="span4 recent_posts">
                    <h3 class="footer_header">
                        Recent Posts
                    </h3>
                    {% for post in contents.posts limit:2 %}
                    <div class="post">
                        <a href="/posts/{{post._slug}}">
                          <img src="{{ 'recent_post1.png' | theme_image_url }}" class="img-circle" />
                        </a>
                        <div class="date">
                          {{ post.publish_date | date: "%A %b %d, %Y" }}
                        </div>
                        <a href="blogpost.html" class="title">
                          {{ post.title }}
                        </a>
                    </div>
                  {% endfor %}
                </div>
                <div class="span4 testimonials">
                    <h3 class="footer_header">
                        Upcoming Events
                    </h3>
                    <div class="wrapper">
                        <div class="quote">
                            <span>“</span>
                            {% editable_long_text "new event teaser" %}On May 24th I will be hosting a discussion in Potrero Hill to a small group. Sign up here to get a seat in the discussion.{%endeditable_long_text %}
                            <span></span>
                        </div>
                        <div class="author">
                          <img src="{{ 'user-display.png' | theme_image_url }}" />
                            <div class="name">Dr. Marie Mika, PhD</div>
                            <div class="info">
                                Good Mother :)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span4 contact">
                    <h3 class="footer_header">
                        Contact
                    </h3>
                    <form method="POST" action="{{ contents.contact_messages.public_submission_url }}">
                      <input class="name" name="content[name]" type="text" placeholder="Name" value="{{contact_message.name}}">
                      <input class="mail" name="content[email]" type="text" placeholder="Email" value="{{contact_message.email}}">
                      <textarea name="content[message]" placeholder="Type a message here...">{{ contact_message.message }}</textarea>
                      <input type="submit" value="Send" />
                    </form>
                </div>
            </div>
            <div class="row credits">
                <div class="span12">
                    <div class="row social">
                        <div class="span12">
                            <a href="#" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a href="#" class="twitter">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                            <a href="#" class="gplus">
                                <span class="socialicons ico3"></span>
                                <span class="socialicons_h ico3h"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row copyright">
                        <div class="span12">
                          © {{ today | date: "%Y" }} Marie Mika. All rights reserved.
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {{ 'main.js' | javascript_tag }}

  </body>
</html>
